<strong>What happens when I send the owner of postbin.org an email</strong>

<p>
  Hi Jeff.
</p>

<p>
  I think that's your name. I looked it up using dnsstuff.com. Sorry if it isn't. I won't call you by it again for the rest of this email.
</p>

<p>
  I want to say this. I love postbin.org.
</p>

<p>
  I love it so much that I almost cried when the "Over Quota" message appeared when I tried to use it yesterday.
</p>

<p>
  But I steeled myself. I said "Ryan, c'mon! Be a man." And I was and I still am.
</p>

<p>
  I brooded on this problem over night, trying to code up a solution in my language-of-choice of Ruby.
</p>

<p>
  First of all I used Rails. Rails does some horrible things. So I stopped using it.
</p>

<p>
  Then I used Sinatra. And it works. You can see the fruits of my labour at http://postbin.heroku.com, or the source at http://github.com/radar/postbin.
</p>

<p>
  So, sorry for "plagiarising" your site, but imitation is the sincerest form of flattery. I was also lost without postbin.org. I had to test PayPal IPN stuff. What was I going to do? Scrabble around in the darkness?! Bah to that. Have to make it look like I'm doing *something* productive occasionally. Keeps me employed.
</p>

<p>
  I think that if we were to ever meet I would have to buy you a beer, if that's what you're into. Or a handshake. 
</p>

<p>
  Simply: Thanks for providing such a fantastic, reliable service and "inspiring" me to give it a crack.
</p>

<p>
  I hope to see postbin.org back to full-strength soon!
</p>

<strong>And Jeff replies:</strong>

<p>
  Hello, thanks for all the praise! Sorry about the quota stuff. No matter how much I pay to increase the quota, the automated nature of most POSTs to PostBin of arbitrary sizes means it just takes a few, even accidental, huge posts to knock it over quota. App Engine has no way around this. 
</p>

<p>
  However, since I intend to upgrade the site soon using a fancy postb.in domain, I will have to run it through a small proxy (since App Engine doesn't support naken domains) and that will give me an opportunity to check and filter requests that are too big. That should relieve that issue.
</p>

<p>
  Also, PostBin is open source! http://github.com/progrium/postbin
</p>

<p>
  This means you can contribute if you'd like, but also you can spin up your own App Engine app based on it if over quota... or you could even just run it locally with the SDK and use my localtunnel (http://github.com/progrium/localtunnel) tool to expose it on the web.
</p>

<p>
  Your enthusiasm is encouraging! Maybe we can work together to make it better.
</p>

