<h1>What's a PostBin?</h1>

<p>
  Credit and kudos goes to <a href='http://postbin.org'>the original</a> which sometimes suffers from "Over Quota" problems. Ah, the restrictions of running on a free platform. We'll suffer from the same problems too, eventually. Then we'll scale. Just like Twitter.
</p>

<p>
  PostBin is used for capturing the parameters of requests, like those from <a href='http://help.github.com/post-receive-hooks/'>Github Post-Receive Hooks</a>. The benefit of PostBin is if the values of one of these parameters is JSON it'll be parsed into a pretty format which you can then use in tests (you write tests, don't you?) to fake out the data from these external services.
</p>

<p>
  The URLs provided are simply for you to enter into your posting service of choice and then press that "Send" or whatever button, wait a couple of seconds and check out the URL. BAM! There's the data the service sent over.
</p>

<p>
  <small>Honestly folks, I'm surprised very few of you have heard of PostBin before. It's the best idea of ALL TIME.</small>
</p>

<p>
  <small>If you'd like to talk to me I'm available on GTalk as "radarlistener@gmail.com" and contactable by that email also.</small>
</p>

