<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/style.css'>
  </head>
    <body>
    <div align='center'>
      <div id='content'>
        <%= yield %>
      </div>
    </div>

  </body>
</html>
