<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/style.css'>
  </head>
    <body>
    <div align='center'>
      <div id='content'>
        <%= yield %>
      </div>
      <small><a href='/about'>what the?</a> | <a href='/love'>love</a></small>
    </div>
  </body>
</html>
