<h2>Postbin #<%= @bin.url %></h2>
<% for item in @bin.items %>
  <table align='left'>
    <% item.parsed_params.each do |k, v| %>
      <tr>
        <td valign='top'>
          <strong><%= k %></strong>
        </td>
      
        <td class='payload'><%= v %></td>
      </tr>
    <% end %>
  </table>
<% end %>