<h2>Postbin #<%= @bin.url %></h2>
<% for item in @bin.items.reverse %>
  <p>
    <div align='left'>#<%= item.id.to_s(36) %></div>
    <table align='left' width='100%'>
      <% item.parsed_params.each do |k, v| %>
        <tr>
          <td valign='top' width='10%'>
            <strong><%= k %></strong>
          </td>
      
          <td class='payload'><%= json(v) rescue v %></td>
        </tr>
      <% end %>
    </table>
  </p>
  <br><br>
<% end %>